{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <h1>Topic index</h1>

   
        {% for topic in topics %}
            <div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
            <p>Crée par: {{topic.user.email}}</p>
                <h1>{{ topic.title|title }}</h1>
                <p>Posté le {{ topic.createdAt|date('d-m-Y H:i:s') }}</p>
                <p>MAJ le {{ topic.updatedAt|date('d-m-Y H:i:s') }}</p>               
                 <p>Message : {{ topic.content}}</p>  

              
            </div>
            <div class="col">
            </div>
        </div>
        </div>
        </div>
        {% endfor %}
     

    <button type="submit" class="btn btn-success"><a href="{{ path('topic_new') }}">Créer un nouveau sujet</a></button>
{% endblock %}
