{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ topic.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ topic.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('topic_index') }}">back to list</a>

    {{ include('topic/_delete_form.html.twig') }}
{% endblock %}
