{% extends "base.html.twig" %}

{% block body %}

    <h1>Topic index</h1>
   
        {% for topic in topic_user %}
            <div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
            <p>Crée par: {{topic.user.email}}</p>
                <h1>{{ topic.title|title }}</h1>
                <p>Posté le {{ topic.createdAt|date('d-m-Y H:i:s') }}</p>
                <p>MAJ le {{ topic.updatedAt|date('d-m-Y H:i:s') }}</p>               
                 <p>Message : {{ topic.content}}</p>  
            </div>
            <div class="col">
             <a href="{{ path('topic_edit', {'id' : topic.id}) }}" class="btn btn-warning ml-2">Modifier</a>
               <a href="{{ path('topic_delete', {'id' : topic.id}) }}"><button class="btn btn-danger" onclick="var aze=confirm('Êtes-vous sûr de vouloir supprimer cete élément ?');return aze;">Supprimer</button></a>
            </div>
        </div>
        </div>
        </div>
        {% endfor %}


{% endblock %}